
profiles {
    docker {
        docker {
            enabled = true
        }
    }
    uw_batch {
        workDir = 's3://uwlm-nextflow-data/workdir/crux-pipeline'
        process {
            scratch = "/docker_scratch"
            queue = 'ngs-queue'
            executor = 'awsbatch'
            errorStrategy = 'ignore'
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }

}